.legend {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    line-height: 18px;
    color: #555555;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .legend strong {
    display: block;
    margin-bottom: 5px;
  }
  
  .legend span.color-sq {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  .legend .green {
    background-color: green;
  }
  
  .legend .yellow {
    background-color: yellow;
  }
  
  .legend .orange {
    background-color: orange;
  }
  
  .legend .red {
    background-color: red;
  }
  